# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore yarn.lock file
yarn.lock

# Ignore .env file (contains sensitive information)
.env

# Ignore build output directories
dist/
build/
out/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db